.cs-button-wrapper {
    margin: 10px 0px;
}

.cs-button-group {
    height: 24px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 5px;
    justify-content: end;
}

.cs-button-group > button {
    height: 24px;
    color: white;
    width: fit-content;
    min-width: 64px;
}

.cs-button-group > .cancel-button {
    background-color: #B12028;
}

.cs-button-group > .submit-button {
    background-color: #76BC21;
}